<h1>Listing Adverts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Moneey</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @adverts.each do |advert| %>
      <tr>
        <td><%= advert.title %></td>
        <td><%= advert.price %></td>
        <td><%= link_to "Show", advert %></td>
        <td><%= link_to "Edit", edit_advert_path(advert) %></td>
        <td><%= link_to "Remove", advert, method: :delete, data: { confirm: "Are you sure?" } %></td>
      </tr>
  <% end %>
</table>

<br>

<%= link_to "New advert", new_adverts_path %>
